.footer_heading {
  width: var(--full);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 8rem;

    > img {
      display: block;
    }
  }

  &__lang {
    width: auto;

    > button {
      width: 170px;
      padding: 0.4rem 1.3rem;
      background: transparent;
      border: 1px solid var(--primary-color);
      border-radius: var(--border-radius-mini);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.95rem;
      cursor: pointer;
      color: var(--primary-color);

      > span {
        display: flex;
        align-items: center;

        &::before {
          content: '';
          background: url('../../../../assets/icons/world-icon.svg');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
          flex-shrink: 0;
          margin-right: 0.3rem;
        }
      }
    }
  }
}

@media (max-width: 449px) {
  .footer_heading {
    flex-direction: column;
    margin-bottom: 2rem;

    &__logo {
      margin-bottom: 1rem;
    }
  }
}
