@font-face {
  font-family: SF Pro Light;
  src: url('../../../assets/fonts/SF-Pro-Display-Light.otf');
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-left: 1.5rem;
  font-family: SF Pro Light;

  &__start,
  &__end {
    display: flex;
    align-items: center;

    > li {
      margin-right: 1.5rem;
      width: auto;
      white-space: nowrap;
      cursor: pointer;
      font-weight: bold;

      &._has_dropdown {
        position: relative;

        > button {
          background: transparent;
          padding: 0.5rem 0;
          border: 0;
          cursor: pointer;
        }

        .dropdown_menu {
          position: absolute;
          display: none;
          min-width: 160px;
          background: var(--white);
          box-shadow: var(--dropdown-box-shadow);
          border-top: 1px solid var(--white-smoke);
          border-radius: var(--border-radius-mini);
          z-index: 7;

          &__wrapper {
            > a {
              display: block;
              color: inherit;
              padding: 0.9rem 1rem;

              &:last-child {
                margin-bottom: 0;
              }

              &:hover {
                background: var(--primary-color);
                color: var(--white);
              }
            }
          }
        }
      }

      > a {
        color: inherit;
        display: block;
        height: var(--full);
      }

      > svg {
        width: 12px;
        height: 7px;
        margin-left: 2px;
        vertical-align: middle;
      }
    }
  }

  &__end {
    > li {
      &:last-child {
        margin-right: 0;
      }

      > a {
        &._signup_link {
          background: var(--primary-color);
          padding: 0.8rem 1.5rem;
          border: 1px solid var(--primary-color);
          border-radius: var(--button-border-radius);
          text-align: center;
          color: var(--white);
          position: relative;
          top: 0;
          transition: all 0.2s linear;
          font-weight: 600;

          &:hover {
            box-shadow: var(--button-hover-box-shadow);
            top: -5px;
          }

          svg {
            width: 7px;
            height: 10px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 933px) {
  .nav {
    display: initial;
    width: var(--full);
    margin: 0 auto;
    padding: 1rem 0;
    background-color: var(--header-background);
    position: absolute;
    top: -130vh;
    left: 0;
    right: 0;
    transition: all 0.7s ease-in-out;
    z-index: 10;
    max-height: 80vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &._open {
      top: 50px;
      left: 0px;
    }

    &__start,
    &__end {
      flex-direction: column;
      width: var(--full);

      > li {
        margin-bottom: 1.5rem;
        margin-right: 0;
        width: var(--full);

        &._has_dropdown {
          > button {
            padding: 0;
            width: var(--full);
            text-align: left;
            background: transparent;
            display: flex;
            justify-content: space-between;
            align-items: center;

            ._dropdown_icon {
              &._flip {
                transform: rotate(180deg);
              }
            }
          }

          .dropdown_menu {
            position: relative;
            width: var(--full);
            max-height: 0;
            overflow: hidden;
            display: block;
            transition: all 0.7s ease-in-out;
            padding: 0;
            background: transparent;
            box-shadow: none;
            border: 0;
            border-radius: 0;
            z-index: 0;

            &._show {
              max-height: 225px;
            }

            &__wrapper {
              margin: 0.5rem 0;
              background: var(--white-smoke);
              box-shadow: var(--dark-box-shadow-inset);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 934px) {
  ._has_dropdown {
    &:hover {
      .dropdown_menu {
        display: block !important;
        animation: slideUp 0.2s linear;
      }
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(15%);
    }
    100% {
      transform: translateY(0);
    }
  }
}
