.home_team_speed {
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text {
    flex: 0 0 43%;

    p {
      margin: 1.5rem 0;
    }
  }

  &__image {
    width: 50%;
    max-width: 700px;
    flex-shrink: 0;
    margin-right: 2rem;
  }
}

@media (max-width: 1023px) {
  .home_team_speed {
    flex-direction: column-reverse;
    padding: 4rem 1rem;

    &__text {
      width: var(--full);
      text-align: center;
      margin-bottom: 4rem;
    }

    &__image {
      width: 600px;
      max-width: var(--full);
      margin: 0 auto;
    }
  }
}
