.enterprise_outro {
  width: var(--full);
  background: rgba(204, 204, 204, 0.1);
  padding: 10rem 1rem;

  &__content {
    margin: 0 auto;
    text-align: center;

    h3 {
      font-size: 1.7rem;
      margin-bottom: 2rem;
    }

    .enterprise_outro_btn {
      // display: block;
      max-width: 230px;
      min-width: 200px;
      background: var(--primary-color);
      margin: 0 auto;
      padding: 0.8rem 0;
      border: 1px solid var(--primary-color);
      border-radius: var(--button-border-radius);
      text-align: center;
      color: var(--white);
      cursor: pointer;
      position: relative;
      top: 0;
      transition: all 0.2s linear;

      &:hover {
        box-shadow: var(--button-hover-box-shadow);
        top: -5px;
      }

      svg {
        width: 7px;
        height: 10px;
        margin-left: 10px;
      }
    }
  }
}
