.home_mgt_team {
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text {
    flex: 0 0 40%;

    h2 {
      max-width: 60%;
    }

    p {
      margin: 1.5rem 0;
    }
  }

  &__image {
    width: 55%;
    max-width: 700px;
    flex-shrink: 0;
    margin-left: 2rem;
  }
}

@media (max-width: 933px) {
  .home_mgt_team {
    flex-direction: column;
    padding: 2rem 1rem;

    &__text {
      width: var(--full);
      text-align: center;
      margin-bottom: 3rem;

      h2 {
        max-width: var(--full);
      }
    }

    &__image {
      width: 600px;
      max-width: var(--full);
      margin: 0 auto;
    }
  }
}
