.home_tab {
  width: 90%;
  margin: 3rem auto;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-mini);
  height: 50px;
  overflow-x: hidden;

  > nav {
    width: var(--full);
    height: var(--full);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    > ul {
      display: flex;
      align-items: center;
      height: var(--full);

      > li {
        flex: 1;
        height: var(--full);

        &._active_home_tab {
          a {
            color: var(--white);
            background: var(--primary-color);
          }
        }

        a {
          width: var(--full);
          height: var(--full);
          display: block;
          padding: 1rem 0.4rem;
          text-align: center;
          color: inherit;
        }
      }
    }
  }
}
