.home_outro {
  width: var(--full);
  background: var(--primary-color-lighter);
  padding: 5rem 1rem;
  text-align: center;
  color: var(--white);

  h3 {
    font-size: 1.7rem;
    color: inherit;
  }

  p {
    margin-bottom: 2.5rem;
    margin-top: 2rem;
  }

  &__btn {
    display: block;
    max-width: 230px;
    background: var(--primary-color);
    margin: 0 auto;
    padding: 0.8rem 0;
    border: 1px solid var(--primary-color);
    border-radius: var(--button-border-radius);
    text-align: center;
    color: var(--white);
    position: relative;
    top: 0;
    transition: all 0.2s linear;

    &:hover {
      box-shadow: var(--button-hover-box-shadow);
      top: -5px;
    }

    svg {
      width: 7px;
      height: 10px;
      margin-left: 10px;
    }
  }
}
