@import '../../node_modules/hamburgers/dist/hamburgers';

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: Sofia Pro Regular;
  src: url('../assets/fonts/Sofia Pro Regular Az.otf');
}

html {
  -webkit-text-size-adjust: var(--full);
  scroll-behavior: smooth;
  font-family: Sofia Pro Regular;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: var(--full);
  height: var(--full);
  background: var(--white);
  color: var(--text-primary);
  overflow-x: hidden;
}

html._fixed,
body._fixed {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

h1,
h2,
h3 {
  color: var(--heading-text-primary);
}

h1,
h2,
h3,
p {
  line-height: 1.6;
  margin: 0;
}

p,
._main_text_size {
  font-size: 1rem;

  @media (min-width: 701px) {
    font-size: 1.25rem;
  }
}

a {
  text-decoration: none;
  outline: none;
  font-family: inherit;
  white-space: nowrap;
}

button {
  outline: none;
  font: inherit;
  color: inherit;
}

label {
  color: var(--heading-text-primary);
  display: block;
  margin-bottom: 0.7rem;
}

input,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  width: var(--full);
  font-size: 1rem;
  transition: all 0.3s ease;
  font-family: inherit;
  outline: none;
  color: inherit;
  border: 1.5px solid var(--heading-text-primary);
  border-radius: var(--border-radius-mini);
  outline-offset: -2px;

  &:focus {
    border: 1.5px solid var(--primary-color-lighter);
    box-shadow: 0 0 0 5px rgb(204, 184, 241);
  }

  &:focus:invalid {
    border: 1.5px solid #f44336;
    box-shadow: 0 0 0 5px #f443364d;
  }
}

select {
  cursor: pointer;
}

textarea {
  resize: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

._max_width {
  max-width: var(--wrapper-max-width);
  min-width: var(--wrapper-min-width);
  margin: 0 auto;
}

.section_wrapper {
  width: 85%;
  margin: 0 auto;

  @media (max-width: 1023px) {
    width: var(--full);
  }
}

.text_max_width {
  max-width: 512px;
}

.d_inline_block {
  display: inline-block;
}

.ml_auto {
  margin-left: auto;

  @media (max-width: 1023px) {
    margin-left: 0;
  }
}

// hamburger

.hamburger-box {
  border: none;
  outline: none;
  padding: 0;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: var(--primary-color);
  width: 30px;
  height: 2px;
  margin: 0;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--primary-color);
  width: 30px;
  height: 2px;
  margin: 0;
}

.hamburger:hover {
  opacity: 1 !important;
}
