:root {
  --primary-color: #462686;
  --primary-color-lighter: #7837f8;
  --black: black;
  --white: white;
  --fade: #ccc;
  --white-smoke: whiteSmoke;
  --header-background: rgba(255, 255, 255, 1);
  --button-border-radius: 30px;
  --border-radius-mini: 5px;
  --full: 100%;
  --wrapper-max-width: 1680px;
  --wrapper-min-width: 240px;
  --button-hover-box-shadow: 0 30px 15px -20px rgba(70, 38, 134, 0.685);
  --dark-box-shadow-inset: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --dropdown-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
