.footer {
  padding: 3rem 0 0;

  &__wrapper {
    width: 90%;
    margin: 0 auto;

    ._footer_divider {
      border-top: 1px solid var(--fade);
    }

    ._footer_copyright {
      display: inline-block;
      margin: 1rem 0;
    }
  }
}

@media (max-width: 933px) {
  .footer {
    padding: 2rem 0 0;
  }
}
