.customer_support {
  padding: 5rem 0 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text {
    flex: 0 0 50%;

    p {
      margin: 1.5rem 0;
    }
  }

  &__image {
    width: 46%;
    max-width: 700px;
    flex-shrink: 0;
    margin-right: 3rem;
  }
}

@media (max-width: 933px) {
  .customer_support {
    flex-direction: column-reverse;
    padding: 2rem 1rem;

    &__text {
      width: var(--full);
      text-align: center;
    }

    &__image {
      width: 600px;
      max-width: var(--full);
      margin: 1rem auto;
    }
  }
}
