.favorite_tools {
  padding: 5rem 0 2rem;

  h2 {
    text-align: center;
  }

  &__images_container {
    width: var(--full);
    margin-top: 5rem;

    ._icons_grid {
      width: var(--full);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      svg {
        margin-right: 1.75rem;
        margin-bottom: 2.25rem;
        height: 35px;
        width: 14.2857%;
        flex-shrink: 0;
      }
    }
  }
}

@media (max-width: 933px) {
  .favorite_tools {
    padding: 2rem 1rem;

    ._icons_grid {
      svg {
        margin-right: 1rem !important;
      }
    }
  }
}
