.clients {
  padding: 5rem 0;
  text-align: center;

  &__companies {
    width: var(--full);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

    > svg {
      margin-right: 3.75rem;
      margin-bottom: 1.25rem;
      flex-shrink: 0;
    }
  }
}

@media (max-width: 1023px) {
  .clients {
    padding: 5rem 1rem;

    &__companies {
      > svg {
        margin-right: 1rem;
      }
    }
  }
}
