.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  padding: 0;
  background-color: var(--header-background);

  &__wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: auto;

    .header_logo_container {
      z-index: 20;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      background-color: var(--header-background);

      ._logo {
        width: 12rem;
        line-height: 2;
      }

      ._hamburger_btn {
        display: none;

        > .hamburger {
          width: 30px;
          background: transparent;
          padding: 0;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 933px) {
  .header {
    &__wrapper {
      .header_logo_container {
        width: var(--full);

        ._logo {
          width: 8rem;
          height: var(--full);
          line-height: 0;
        }

        ._hamburger_btn {
          display: block;
        }
      }
    }
  }
}
