.home_intro {
  padding: 2rem 0;

  &__hero {
    width: var(--full);
    display: flex;
    align-items: center;
    justify-content: space-between;

    ._home_intro_text {
      flex: 0 0 35%;

      h1 {
        width: 70%;
      }

      p {
        margin: 1.5rem 0;
      }

      ._home_intro_btn {
        display: block;
        max-width: 200px;
        background: var(--primary-color);
        padding: 0.8rem 0;
        border: 1px solid var(--primary-color);
        border-radius: var(--button-border-radius);
        text-align: center;
        color: var(--white);
        font-weight: 600;
        position: relative;
        top: 0;
        transition: all 0.2s linear;

        &:hover {
          box-shadow: var(--button-hover-box-shadow);
          top: -5px;
        }

        svg {
          width: 7px;
          height: 10px;
          margin-left: 10px;
        }
      }
    }

    ._home_intro_bg {
      width: 60%;
      max-width: 800px;
      flex-shrink: 0;

      img {
        object-fit: cover !important;
      }
    }
  }
}

@media (max-width: 933px) {
  .home_intro {
    padding: 2rem 1.3rem;

    &__hero {
      flex-direction: column-reverse;

      ._home_intro_text {
        width: var(--full);
        text-align: center;
        margin-top: 3rem;

        h1 {
          width: var(--full);
        }

        ._home_intro_btn {
          margin: 0 auto;
        }
      }

      ._home_intro_bg {
        width: 600px;
        max-width: var(--full);
        margin: 0 auto;
      }
    }
  }
}
