.footer_links {
  width: auto;

  > ul {
    width: var(--full);
    display: flex;

    > li {
      margin-right: 3.5rem;

      &:last-child {
        margin-right: 0;
      }

      > span {
        font-weight: bold;
        margin-bottom: 1rem;
        display: inline-block;
        font-size: 0.87rem;
        line-height: 1.6;
      }

      > a {
        display: table;
        color: var(--primary-color);
        font-size: 0.87rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media (max-width: 971px) and (min-width: 600px) {
  .footer_links {
    margin-top: 1rem;
    width: var(--full);

    > ul {
      justify-content: space-between;

      > li {
        margin-right: 0;
        text-align: left;
        margin-bottom: 1rem;
      }
    }
  }
}

@media (max-width: 599px) and (min-width: 450px) {
  .footer_links {
    margin-top: 1rem;
    width: var(--full);

    > ul {
      justify-content: space-between;
      flex-wrap: wrap;

      > li {
        margin-right: 0;
        width: 48%;
        margin-bottom: 1rem;
      }
    }
  }
}

@media (max-width: 449px) {
  .footer_links {
    margin-top: 1rem;
    width: var(--full);

    > ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > li {
        margin-right: 0;
        width: 48%;
        margin-bottom: 1rem;
        text-align: center;

        > a {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
